---
- name: "Login to iLO for OS install"
  uri:
    url: "https://{{ ansible_host }}{{ redfish_root }}/SessionService/Sessions"
    method: POST
    headers:
      Content-Type: "application/json"
    body_format: json
    body:
      UserName: "{{ ilo_admin_username }}"
      Password: "{{ ilo_admin_password }}"
    validate_certs: "{{ ilo_validate_certs }}"
  register: ilo_session
  no_log: true

- name: "Set token for OS install operations"
  set_fact:
    ilo_x_auth_token: "{{ ilo_session.cookies['sessionKey'] | default(ilo_session.json['Id']) }}"

- name: "Attach Linux installer ISO as virtual media"
  uri:
    url: "https://{{ ansible_host }}{{ redfish_root }}/Managers/1/VirtualMedia/CD/Actions/VirtualMedia.InsertMedia"
    method: POST
    headers:
      Content-Type: "application/json"
      X-Auth-Token: "{{ ilo_x_auth_token }}"
    body_format: json
    body:
      Image: "http://repo.example.com/iso/RHEL9-hpe-auto.iso"
      Inserted: true
      WriteProtected: true
    validate_certs: "{{ ilo_validate_certs }}"
  register: vm_attach
  failed_when: vm_attach.status not in [200, 204]

- name: "Override boot order to CD once"
  uri:
    url: "https://{{ ansible_host }}{{ redfish_system_path }}"
    method: PATCH
    headers:
      Content-Type: "application/json"
      X-Auth-Token: "{{ ilo_x_auth_token }}"
    body_format: json
    body:
      Boot:
        BootSourceOverrideEnabled: "Once"
        BootSourceOverrideTarget: "Cd"
    validate_certs: "{{ ilo_validate_certs }}"
  register: boot_cfg
  failed_when: boot_cfg.status not in [200, 204]

- name: "Restart server to start OS installation"
  uri:
    url: "https://{{ ansible_host }}{{ redfish_system_path }}/Actions/ComputerSystem.Reset"
    method: POST
    headers:
      Content-Type: "application/json"
      X-Auth-Token: "{{ ilo_x_auth_token }}"
    body_format: json
    body:
      ResetType: "ForceRestart"
    validate_certs: "{{ ilo_validate_certs }}"
  register: reset
  failed_when: reset.status not in [200, 202, 204]

- name: "Logout iLO"
  uri:
    url: "{{ ilo_session.location | default(omit) }}"
    method: DELETE
    headers:
      X-Auth-Token: "{{ ilo_x_auth_token }}"
    validate_certs: "{{ ilo_validate_certs }}"
  ignore_errors: true
