---

- name: "Validate OS installation inputs"
  ansible.builtin.assert:
    that:
      - ilo_admin_username | length > 0
      - ilo_admin_password | length > 0
      - os_install_image_url | length > 0
    fail_msg: "Provide ilo_admin credentials and set os_install_image_url (via env or vars) before running the OS install role."

- name: "Login to iLO for OS install"
  ansible.builtin.include_role:
    name: redfish_session
    tasks_from: login
  vars:
    redfish_host: "{{ ansible_host }}"
    redfish_username: "{{ ilo_admin_username }}"
    redfish_password: "{{ ilo_admin_password }}"
    redfish_root: "{{ redfish_root }}"
    redfish_validate_certs: "{{ ilo_validate_certs | bool }}"
    redfish_session_token_var: "ilo_x_auth_token"
    redfish_session_location_var: "ilo_session_location"
    redfish_login_no_log: true

- name: "Attach Linux installer ISO as virtual media"
  ansible.builtin.uri:
    url: "https://{{ ansible_host }}{{ redfish_root }}/Managers/1/VirtualMedia/CD/Actions/VirtualMedia.InsertMedia"
    method: POST
    headers:
      Content-Type: "application/json"
      X-Auth-Token: "{{ ilo_x_auth_token }}"
    body_format: json
    body:
      Image: "{{ os_install_image_url }}"
      Inserted: true
      WriteProtected: true
    validate_certs: "{{ ilo_validate_certs | bool }}"
  register: vm_attach
  failed_when: vm_attach.status not in [200, 204]

- name: "Override boot order to CD once"
  ansible.builtin.uri:
    url: "https://{{ ansible_host }}{{ redfish_system_path }}"
    method: PATCH
    headers:
      Content-Type: "application/json"
      X-Auth-Token: "{{ ilo_x_auth_token }}"
    body_format: json
    body:
      Boot:
        BootSourceOverrideEnabled: "Once"
        BootSourceOverrideTarget: "Cd"
    validate_certs: "{{ ilo_validate_certs | bool }}"
  register: boot_cfg
  failed_when: boot_cfg.status not in [200, 204]

- name: "Restart server to start OS installation"
  ansible.builtin.uri:
    url: "https://{{ ansible_host }}{{ redfish_system_path }}/Actions/ComputerSystem.Reset"
    method: POST
    headers:
      Content-Type: "application/json"
      X-Auth-Token: "{{ ilo_x_auth_token }}"
    body_format: json
    body:
      ResetType: "{{ os_install_reset_type }}"
    validate_certs: "{{ ilo_validate_certs | bool }}"
  register: reset
  failed_when: reset.status not in [200, 202, 204]

- name: "Logout iLO"
  ansible.builtin.include_role:
    name: redfish_session
    tasks_from: logout
  vars:
    redfish_host: "{{ ansible_host }}"
    redfish_validate_certs: "{{ ilo_validate_certs | bool }}"
    redfish_session_token_var: "ilo_x_auth_token"
    redfish_session_location_var: "ilo_session_location"
