---
- name: "Login to iLO as automation admin"
  uri:
    url: "https://{{ ansible_host }}{{ redfish_root }}/SessionService/Sessions"
    method: POST
    headers:
      Content-Type: "application/json"
    body_format: json
    body:
      UserName: "{{ ilo_admin_username }}"
      Password: "{{ ilo_admin_password }}"
    validate_certs: "{{ ilo_validate_certs }}"
  register: ilo_session
  failed_when: ilo_session.status not in [200, 201]
  no_log: true

- name: "Set iLO token fact"
  set_fact:
    ilo_x_auth_token: "{{ ilo_session.cookies['sessionKey'] | default(ilo_session.json['Id']) }}"

- name: "Configure iLO DateTime and NTP"
  uri:
    url: "https://{{ ansible_host }}{{ redfish_root }}/Managers/1/DateTime"
    method: PATCH
    headers:
      Content-Type: "application/json"
      X-Auth-Token: "{{ ilo_x_auth_token }}"
    body_format: json
    body:
      Timezone: "{{ ilo_timezone }}"
      NTPServers: "{{ ilo_dns_servers }}"
    validate_certs: "{{ ilo_validate_certs }}"
  register: datetime_cfg
  failed_when: datetime_cfg.status not in [200, 204]

- name: "Enable HTTPS on default port (placeholder)"
  uri:
    url: "https://{{ ansible_host }}{{ redfish_root }}/Managers/1/NetworkService"
    method: PATCH
    headers:
      Content-Type: "application/json"
      X-Auth-Token: "{{ ilo_x_auth_token }}"
    body_format: json
    body:
      HTTPS:
        Port: 443
        ProtocolEnabled: true
    validate_certs: "{{ ilo_validate_certs }}"
  register: https_cfg
  failed_when: https_cfg.status not in [200, 204]

- name: "Logout iLO session"
  uri:
    url: "{{ ilo_session.location | default(omit) }}"
    method: DELETE
    headers:
      X-Auth-Token: "{{ ilo_x_auth_token }}"
    validate_certs: "{{ ilo_validate_certs }}"
  ignore_errors: true
